html{
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
background-color: #eee;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  align-content: center;
}

canvas {
  background: radial-gradient(circle, #eaeaea 0%, #777 100%);
  width: 600px !important;
  height: 600px  !important;
  border-radius: 20px;
  justify-content: center;
  align-items: center;

  
}

canvas {
  display: block;
}

.icon {
  justify-content: right;
  z-index: 1000;
  padding: 10px;
  opacity: 0.7;
  display: inline-block;
  padding: 5px 10px;
}

/* AVATAR */

.box{
  position: fixed;
  top: 100px;
  /* background-color: aqua; */
  text-align: center;
  width: 220px;
}

.change{
  margin: 10px;
}

.center{
  background-color: #fff;
  display: inline-block;
  width: 100px  !important;
  padding: 6px;
  margin: 0 10px;
  border-radius: 200px;
  font-size: 17px;
}

.btn{
  background-color: #02f7b5;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  /* padding: 5px; */
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100px;
}