html {
  height: 100%;
}
body {
  height: 100%;

  margin: 0;
  overflow: hidden;
  background: #eee;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

canvas {
  display: block;
  width: 66vw !important;
  height: 66vw !important;
  background: radial-gradient(circle, #eaeaea 0%, rgb(255, 14, 14) 100%);
  border-radius: 14px;
}

.container {
  position: fixed;
  left: 0;
  top: 40%;
  border-radius: 100px;
  background-color: #fff;

}

.title{
  display: inline-block;
  width: 200px;
  text-align: center;
}

button {
  border-radius: 100px;
}
